.voip-product-info .title {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    color: black;
}
.voip-product-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.voip-product-info .cost {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #ff4e0a;
}
.container-fluid {
    height: 50px;
    width: 100%;
    background-color: rgb(64,64,64);

}
.navbar-header {
    margin-left: 27px;
    width: 169px;
}
.btn-menu {
    background-color: rgb(64,64,64);
}
.inputMenu {
    width: 200px;
    margin-left: 50px;
    margin-right: 20px;
}
.top-menu {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}
.dropdown-menu > a {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}
.productMarginTop {
    margin-top: 19px;
}
.productMarginBot {
    padding-bottom: 25px;
}
.txtProducts {
    margin-left: 10px;
    color: grey;
}
.col2ProductMarginTop {
    margin-top: 30px;
}
.col2ProductMarginBot {
    padding-bottom:0px;
}
.title {
    font-size: 14px;
    font-weight: bold;
}
.miniDetail {
     font-size: 14px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 8px;
    position: absolute;
}
.dropdown-menu{
    width: 700px;
}
.adepterMarginBot {
    margin-bottom: 150px;
}
.widthAuto {
    width: auto;
}
#txtSolution {
    color: white;
}
a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.collapse {
    height: 100%;
}
.mgRight {
    margin-right: 10px;
}
.collumm2 {
    padding-bottom: 15px;
}
ul > li > a:hover {
    background-color:red;
}
.navbar {
    padding:  0 !important;
}
.colum2{
    margin-top: 10px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.voip-cat-title {
    margin-left: 50px;
    margin-right: 50px;
}
.voip-cat-title {
    overflow: hidden;
    border-bottom: 1px solid #bbb;
    min-height: 20px;
    margin-top: 50px;
}
.voip-cat-title .title {
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 5px solid #ff8c00;
    margin: 0px;
}
.voip-products-show {
    margin-left: 50px;
    margin-right: 50px;
}
.voip-products-show .row-fluid {
    overflow: hidden;
}
.voip-hover-thumbnail-layer {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 176px;
    left: 0px;
    top: 0px;
    opacity: 0;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    -ms-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}
.voip-product-item:hover .voip-hover-thumbnail-layer {
    opacity: 0.8;
}
.imgProducts {
    width: 178px;
}
.txtBuy {
    width: 157.059px;
    font-size: 15.7059px;
    left: 10.5px;
    top: 46px;"
}
.txtDetail {
    width: 157.059px;
    font-size: 15.7059px;
    left: 10.5px;
    top: 96px;"
}
.voip-product-info .title:hover {
    color: #ff4e0a;
}
.voip-product-item .buy, .voip-product-item .detail {
    color: #fff;
    font-weight: bold;
    position: absolute;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid #ff8c00;
    background-color: #ff8c00;
    text-align: center;
}
.voip-news {
    padding: 0px 50px;
    padding-bottom: 30px;
}
.voip-news {
    background: #f4f4f4;
    min-height: 200px;
    position: relative;
    margin-top: 80px;

}
.voip-news .row {
    padding-top: 50px;
    overflow: hidden;
}
.voip-news .title {
    padding-top: 0px;
    margin: 0px;
    color: #ff8c00;
    font-weight: normal;
    font-size: 30px;
    min-height: 47px;
}
.voip-news .content {
    font-size: 14px;
}
.voip-news .content a {
    color: black;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #aaa;
}
.btn.btn-inverse {
    background: #3f3f3f;
    color: #fff;
}
.voip-hot {
    background: #f4f4f4;
    border-top: 1px solid #dfdfdf;
    padding: 20px 50px;
}
.voip-icon-deliver {
    margin-bottom: 10px;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 20px;
}
.voip-hot h4.title {
    font-size: 13px;
    font-weight: bold;
    color: #ff8c00;
    text-transform: uppercase;
    margin: 0px;
}
.voip-icon-support {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 20px;
}
.voip-icon-product{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 20px;
}
.voip-icon-price{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 20px;
}
.voip-footer {
    position: relative;
    overflow: hidden;
}
.voip-footer .col-sm-3:nth-child(1), .voip-footer .col-sm-3:nth-child(2) {

    background: #f4f4f4;
}
.inforContact {
    width: 60px;
    text-align: left;
}
.voip-footer .col-sm-3:nth-child(1) .voip-footer-container {
    margin-left: 50px;
}
.voip-footer .voip-footer-container {
    padding: 20px 0px 30px 0px;

}
.divSupport {
    height: 330px;
}
.divHotline {
    color: #ff8c00;
}
.voip-footer .voip-footer-container .title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
 
    padding-bottom: 5px;
    border-bottom: 1px solid #DFDFDF;
}
.divAvertise {
    overflow:hidden;
}
.contactQRcode {
    width:100%;
    margin-top: 10px;
}
.voip-footer .content {
    color: #000;
    overflow: hidden;
}
.voip-footer .content a {
    display: block;
    color: #000;
    font-size: 14px;
}
.borderTop {
    border-top:1px solid #dfdfdf;
}
.voip-footer .col-sm-3:nth-child(3), .voip-footer .col-sm-3:nth-child(4) {
    background: #f4f4f4;
}
.divContact {
    overflow: visible;
}
.voip-footer .content .dl-horizontal {
    margin-bottom: 5px;
}
.voip-footer .content .dl-horizontal dt {
    width: auto;
    margin-right: 10px;
}
.voip-footer .content .dl-horizontal dd {
    margin-left: 0px;
    font-size: 14px;
    width: 250px;
}
.txtInputFooter {
    margin-top:10px;
    font-weight:bold;
    padding:10px 25px;
}
.dl-horizontal dt {
    font-size: 14px;
    float: left;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.txtCopyRight {
    text-align: center;
}
.imgQRcode {
    max-width:100%;
    height:auto;
    margin-right: 60px;
    width:93px;
    height:93px;
}
.QRcodeCenter {
    text-align: center;
}
#voip-copyright {
    font-size: 14px;
    overflow: hidden;
    min-height: 50px;
    background: #404040;
    line-height: 50px;
    color: #fff;
}