label {
	font-weight: bold;
	color: red;
}
.buttonSubmit:hover {
	background-color: lightblue;
}
.buttonReset:hover {
	background-color: riverblue;
}
.height50px {
	height: 50px;
}
legend:first-child {
	color: blue;
}
div:last-child {
	color: red;
}
/*child(1) is the legend so we nee to use child(2)*/
div:nth-child(2) {
	color: yellow;
}
h1 {
	color:blue; 
	text-align:center;
}
h3 {
	color: #154360;
}
.btnCenter {
	text-align: center;
}